.skeleton_main {
  height: 40rem;
  width: 100%;
  margin-top: 1rem;
  margin-top: 1rem;
  padding: 1.8rem;
  border-radius: 2rem;
  box-shadow: 0 2rem 3rem var(--color-light);
  cursor: pointer;
  background: linear-gradient(90deg, #fff 25%, #eee 50%, #fff 75%);
  background-size: 200% 100%;
  animation: loading 3s infinite;
}

.skeleton_right {
  height: 27rem;
  width: 100%;
  margin-top: 1rem;
  margin-top: 1rem;
  padding: 1.8rem;
  border-radius: 2rem;
  box-shadow: 0 2rem 3rem var(--color-light);
  cursor: pointer;
  background: linear-gradient(90deg, #fff 25%, #eee 50%, #fff 75%);
  background-size: 200% 100%;
  animation: loading 3s infinite;
}

.skeleton_main_dark {
  height: 40rem;
  width: 100%;
  margin-top: 1rem;
  margin-top: 1rem;
  padding: 1.8rem;
  border-radius: 2rem;
  box-shadow: 0 2rem 3rem var(--color-light);
  cursor: pointer;
  background: linear-gradient(90deg, #202528 25%, #000 50%, #202528 75%);
  background-size: 200% 100%;
  animation: loading 3s infinite;
}

.skeleton_right_dark {
  height: 40rem;
  width: 100%;
  margin-top: 1rem;
  margin-top: 1rem;
  padding: 1.8rem;
  border-radius: 2rem;
  box-shadow: 0 2rem 3rem var(--color-light);
  cursor: pointer;
  background: linear-gradient(90deg, #202528 25%, #000 50%, #202528 75%);
  background-size: 200% 100%;
  animation: loading 3s infinite;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  50% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
